PNRGEN
CERT
AAAHDQ
SI5
W*2A31CA3A45105012
1@D+${pnr.flights.get(0).departingNoOfDaysFromToday}@${pnr.flights.get(0).origin}${pnr.flights.get(0).destination}
#if(${pnr.flights.get(0).departTime} != "" )
1*${pnr.flights.get(0).departTime}
#end
#if(${pnr.flights.get(0).carrier} != "" and ${pnr.flights.get(0).carrier} != "AA")
1#${pnr.flights.get(0).carrier}
#end
0${pnr.passengers.size()}Y1OB
#if(${pnr.corporate})
-C/${pnr.passengers.size()}group
#end
#if(${pnr.flights.get(0).returnPlusNumberOfDays} != "" )
1R#${pnr.flights.get(0).returnPlusNumberOfDays}
    #if(${pnr.flights.get(0).returnTime} != "" )
    1*${pnr.flights.get(0).returnTime}
    #end
0${pnr.passengers.size()}Y1OB
#end
#foreach($passenger in $pnr.passengers)
  #if(${pnr.corporate})
    #set ($paxno = 1 + $foreach.count)
  #else
    #set ($paxno = $foreach.count)
  #end
-${passenger.lastName}/${passenger.firstName}
    #if(${passenger.carrier} != "" and ${passenger.carrier} != "AA")
    3DOCS/DB/${passenger.dateOfBirth}/M/${passenger.lastName}/${passenger.firstName}-$paxno.1
    #else
    4DOCS/DB/${passenger.dateOfBirth}/M/${passenger.lastName}/${passenger.firstName}-$paxno.1
    #end
    
     #if(${passenger.oneWorldCarrier} != "" and ${passenger.oneWorldCarrier} != "AA")
        FF${passenger.oneWorldCarrier}${passenger.advantageNumber}/AA-$paxno.1
    #else 
        #if(${passenger.advantageNumber} != "")
        FFAA${passenger.advantageNumber}-$paxno.1
        #end
    
    #end
#if(${pnr.exitRowSeat})
    4G1/E
    #else
    4GA/
#end


#end
WPRQ
6common services
#if(${pnr.purchased})
7TACXTM/
#end
PE#test\\@aa.com#
9480-600-1298-c
ER
W-N/RON BOND#A/4139-WYCLIFF AVE#C/DALLAS TX#Z/75219
#if(${pnr.purchased})
5-TBM*BA4111111111111111#12/20#123
5H-/T#DOC#VCR
#else
ER
W#FCA
#end
ER
*P6