<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Form</h1>
    <form action="#" th:action="@{/createPNR}" th:object="${pnrData}" method="post">
         <p>First Name: <input type="text" th:field="*{FirstName}" value="Michael" /></p>
         <p>Last Name: <input type="text" th:field="*{LastName}" value="Chang"/></p>
         <p>Origin: <input type="text" th:field="*{Origin}"   value="DFW" /></p>
         <p>Destination: <input type="text" th:field="*{Destination}" value="ORD" /></p>
         <p>Advantage Number: <input type="number" th:field="*{advantageNumber}" /></p>
          <p>Date Of Birth: <input type="text" th:field="*{dateOfBirth}" value="10JAN1978"/></p>
          <p>Country of Residence: <input type="text" th:field="*{countryOfResidence}" value="US"/></p>
         <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
    
   <!--  <form action="#" th:action="@{/saveStudent}" th:object="${student}" method="post">
    <table border="1">
        <tr>
            <td><label th:text="#{msg.id}" /></td>
            <td><input type="number" th:field="*{id}" /></td>
        </tr>
        <tr>
            <td><label th:text="#{msg.name}" /></td>
            <td><input type="text" th:field="*{name}" /></td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit" /></td>
        </tr>
    </table>
</form> -->

</body>
</html>